<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-idsmartscanner-plugins-scan" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IDSmartScanner</name>
    <description>IDSmart Scanner Cordova Plugin</description>
    <repo>https://github.com/ScientificDimension/cordova-plugin-idsmartscanner</repo>
    <issue>https://github.com/ScientificDimension/cordova-plugin-idsmartscanner/issues</issue>
    <keywords>cordova,IDSmart,Scanner</keywords>
    <js-module name="IDSmartScanner" src="www/IDSmartScanner.js">
        <clobbers target="idsmartscanner" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IDSmartScanner">
                <param name="ios-package" value="IDSmartScanner" />
            </feature>
        </config-file>
        
        <!-- https://stackoverflow.com/questions/39566952/cordova-info-plist-nscamerausagedescription-key-is-missing -->
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>This app needs access to the camera to scan</string>
        </edit-config>
        
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>This app needs access to the photo library to pick document images</string>
        </edit-config>
        
        <header-file src="src/ios/IDSmartScanner.h" />
        <source-file src="src/ios/IDSmartScanner.m" />
        
        <header-file src="src/ios/FLEX/Editing/FLEXIvarEditorViewController.h" />
        <header-file src="src/ios/FLEX/Editing/FLEXFieldEditorViewController.h" />
        <header-file src="src/ios/FLEX/Editing/FLEXFieldEditorView.h" />
        <header-file src="src/ios/FLEX/Editing/FLEXDefaultEditorViewController.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputFontView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputTextView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputNumberView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputFontsPickerView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputNotSupportedView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputViewFactory.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputColorView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputStringView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputSwitchView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputJSONObjectView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputDateView.h" />
        <header-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputStructView.h" />
        <header-file src="src/ios/FLEX/Editing/FLEXPropertyEditorViewController.h" />
        <header-file src="src/ios/FLEX/Editing/FLEXMethodCallingViewController.h" />
        <header-file src="src/ios/FLEX/ExplorerInterface/FLEXExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ExplorerInterface/FLEXWindow.h" />
        <header-file src="src/ios/FLEX/FLEX.h" />
        <header-file src="src/ios/FLEX/FLEXManager.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXFileBrowserFileOperationController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXFileBrowserTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXClassesTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXLiveObjectsTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXGlobalsTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXLibrariesTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXCookiesTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXFileBrowserSearchOperation.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXObjectRef.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXInstancesTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/SystemLog/FLEXSystemLogTableViewCell.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/SystemLog/FLEXSystemLogTableViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/SystemLog/FLEXSystemLogMessage.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXRealmDefines.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXRealmDatabaseManager.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableContentCell.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXSQLiteDatabaseManager.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableLeftCell.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXDatabaseManager.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableContentViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXMultiColumnTableView.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableColumnHeader.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableListViewController.h" />
        <header-file src="src/ios/FLEX/GlobalStateExplorers/FLEXWebViewController.h" />
        <header-file src="src/ios/FLEX/Manager/FLEXManager+Private.h" />
        <header-file src="src/ios/FLEX/Network/FLEXNetworkCurlLogger.h" />
        <header-file src="src/ios/FLEX/Network/FLEXNetworkHistoryTableViewController.h" />
        <header-file src="src/ios/FLEX/Network/FLEXNetworkTransactionDetailTableViewController.h" />
        <header-file src="src/ios/FLEX/Network/FLEXNetworkTransaction.h" />
        <header-file src="src/ios/FLEX/Network/FLEXNetworkRecorder.h" />
        <header-file src="src/ios/FLEX/Network/FLEXNetworkSettingsTableViewController.h" />
        <header-file src="src/ios/FLEX/Network/FLEXNetworkTransactionTableViewCell.h" />
        <header-file src="src/ios/FLEX/Network/PonyDebugger/FLEXNetworkObserver.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXLayerExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXSetExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXViewExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXObjectExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXGlobalsTableViewControllerEntry.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXImageExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXObjectExplorerFactory.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXArrayExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXClassExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXDictionaryExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXDefaultsExplorerViewController.h" />
        <header-file src="src/ios/FLEX/ObjectExplorers/FLEXViewControllerExplorerViewController.h" />
        <header-file src="src/ios/FLEX/Toolbar/FLEXExplorerToolbar.h" />
        <header-file src="src/ios/FLEX/Toolbar/FLEXToolbarItem.h" />
        <header-file src="src/ios/FLEX/Utility/FLEXResources.h" />
        <header-file src="src/ios/FLEX/Utility/FLEXKeyboardHelpViewController.h" />
        <header-file src="src/ios/FLEX/Utility/FLEXMultilineTableViewCell.h" />
        <header-file src="src/ios/FLEX/Utility/FLEXHeapEnumerator.h" />
        <header-file src="src/ios/FLEX/Utility/FLEXUtility.h" />
        <header-file src="src/ios/FLEX/Utility/FLEXRuntimeUtility.h" />
        <header-file src="src/ios/FLEX/Utility/FLEXKeyboardShortcutManager.h" />
        <header-file src="src/ios/FLEX/ViewHierarchy/FLEXHierarchyTableViewController.h" />
        <header-file src="src/ios/FLEX/ViewHierarchy/FLEXHierarchyTableViewCell.h" />
        <header-file src="src/ios/FLEX/ViewHierarchy/FLEXImagePreviewViewController.h" />
        
        <source-file src="src/ios/FLEX/Editing/FLEXPropertyEditorViewController.m" />
        <source-file src="src/ios/FLEX/Editing/FLEXDefaultEditorViewController.m" />
        <source-file src="src/ios/FLEX/Editing/FLEXMethodCallingViewController.m" />
        <source-file src="src/ios/FLEX/Editing/FLEXIvarEditorViewController.m" />
        <source-file src="src/ios/FLEX/Editing/FLEXFieldEditorViewController.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputStringView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputColorView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputJSONObjectView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputSwitchView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputStructView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputDateView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputFontView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputTextView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputFontsPickerView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputNumberView.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputViewFactory.m" />
        <source-file src="src/ios/FLEX/Editing/ArgumentInputViews/FLEXArgumentInputNotSupportedView.m" />
        <source-file src="src/ios/FLEX/Editing/FLEXFieldEditorView.m" />
        <source-file src="src/ios/FLEX/ExplorerInterface/FLEXExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ExplorerInterface/FLEXWindow.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXFileBrowserSearchOperation.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXObjectRef.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXWebViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXInstancesTableViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXFileBrowserTableViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXFileBrowserFileOperationController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/SystemLog/FLEXSystemLogTableViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/SystemLog/FLEXSystemLogMessage.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/SystemLog/FLEXSystemLogTableViewCell.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableLeftCell.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableContentViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableListViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableColumnHeader.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXMultiColumnTableView.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXTableContentCell.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXRealmDatabaseManager.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/DatabaseBrowser/FLEXSQLiteDatabaseManager.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXCookiesTableViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXLibrariesTableViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXGlobalsTableViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXLiveObjectsTableViewController.m" />
        <source-file src="src/ios/FLEX/GlobalStateExplorers/FLEXClassesTableViewController.m" />
        <source-file src="src/ios/FLEX/Manager/FLEXManager.m" />
        <source-file src="src/ios/FLEX/Network/FLEXNetworkTransaction.m" />
        <source-file src="src/ios/FLEX/Network/FLEXNetworkSettingsTableViewController.m" />
        <source-file src="src/ios/FLEX/Network/FLEXNetworkRecorder.m" />
        <source-file src="src/ios/FLEX/Network/FLEXNetworkTransactionTableViewCell.m" />
        <source-file src="src/ios/FLEX/Network/FLEXNetworkCurlLogger.m" />
        <source-file src="src/ios/FLEX/Network/FLEXNetworkTransactionDetailTableViewController.m" />
        <source-file src="src/ios/FLEX/Network/FLEXNetworkHistoryTableViewController.m" />
        <source-file src="src/ios/FLEX/Network/PonyDebugger/FLEXNetworkObserver.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXArrayExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXObjectExplorerFactory.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXGlobalsTableViewControllerEntry.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXImageExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXClassExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXDictionaryExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXDefaultsExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXViewControllerExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXSetExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXLayerExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXViewExplorerViewController.m" />
        <source-file src="src/ios/FLEX/ObjectExplorers/FLEXObjectExplorerViewController.m" />
        <source-file src="src/ios/FLEX/Toolbar/FLEXToolbarItem.m" />
        <source-file src="src/ios/FLEX/Toolbar/FLEXExplorerToolbar.m" />
        <source-file src="src/ios/FLEX/Utility/FLEXUtility.m" />
        <source-file src="src/ios/FLEX/Utility/FLEXHeapEnumerator.m" />
        <source-file src="src/ios/FLEX/Utility/FLEXRuntimeUtility.m" />
        <source-file src="src/ios/FLEX/Utility/FLEXKeyboardShortcutManager.m" />
        <source-file src="src/ios/FLEX/Utility/FLEXKeyboardHelpViewController.m" />
        <source-file src="src/ios/FLEX/Utility/FLEXResources.m" />
        <source-file src="src/ios/FLEX/Utility/FLEXMultilineTableViewCell.m" />
        <source-file src="src/ios/FLEX/ViewHierarchy/FLEXHierarchyTableViewCell.m" />
        <source-file src="src/ios/FLEX/ViewHierarchy/FLEXImagePreviewViewController.m" />
        <source-file src="src/ios/FLEX/ViewHierarchy/FLEXHierarchyTableViewController.m" />
        
        <framework src="src/ios/IDSmart.framework" custom="true" embed="true"/>

    </platform>

</plugin>
