<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-idsmartscanner-plugins-scan" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IDSmartScanner</name>
    <description>IDSmart Scanner Cordova Plugin</description>
    <repo>https://github.com/ScientificDimension/cordova-plugin-idsmartscanner</repo>
    <issue>https://github.com/ScientificDimension/cordova-plugin-idsmartscanner/issues</issue>
    <keywords>cordova,IDSmart,Scanner</keywords>
    <js-module name="IDSmartScanner" src="www/IDSmartScanner.js">
        <clobbers target="idsmartscanner" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IDSmartScanner">
                <param name="ios-package" value="IDSmartScanner" />
            </feature>
        </config-file>
        
        <!-- https://stackoverflow.com/questions/39566952/cordova-info-plist-nscamerausagedescription-key-is-missing -->
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>This app needs access to the camera to scan</string>
        </edit-config>
        
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>This app needs access to the photo library to pick document images</string>
        </edit-config>
        
        <header-file src="src/ios/IDSmartScanner.h" />
        <source-file src="src/ios/IDSmartScanner.m" />
        
        <framework src="src/ios/IDSmart.framework" custom="true" embed="true"/>

    </platform>

</plugin>
